{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="jumbotron">
        <h1 style="text-align: center">Welcome to Bets!</h1>
    </div>


    <div class="content container">
        <div class="row">
            <div class="col-md-4">
                <a href="{% url 'index' %}">Back to Bets list</a>
                {% if not recommended_items.question %}
                    <p>Sorry, this bet does not exists at this time.</p>
                
                
                {% else %}

                <h1>{{ recommended_items.question }} </h1>
                <p>Description: {{recommended_items.description}}</p>
                <p>Initiation: {{recommended_items.initiation}}</p>
                <p>Minimum Buy In: {{recommended_items.min_buyin}}</p>
                <p>Per Person Cap: {{recommended_items.per_person_cap}}</p>
                {% endif %}

            </div>

            

        </div>
    </div>
{% endblock %}

