{% load static %}
<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<title>CrystalBall</title>
		<meta name="description" content="">
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/3/cosmo/bootstrap.css" />
        <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
	</head>
	<body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/home/">CrystalBall</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>

                <li><form class="navbar-form" action="/create_bet/">
                    <input type="submit" class="btn btn-default" value="Create Bet" />
                </form></li>

                <li><form class="navbar-form navbar-left" type="get" action="/search/" role="search">
                    <div class="form-group">
                    <input  id="query" type="text" class="form-control" name="query"  placeholder="Search..." >
                    </div>
                    <button id="search_submit" class="btn btn-default" type="submit" >Submit</button>
                </form></li>

              </ul>
                <ul class="nav navbar-nav navbar-right">
                <li><form class="navbar-form" action="/register/">
                    <input id="register" type="submit" class="btn btn-default" value="Register" />
                </form></li>
                <li><form class="navbar-form" action="/login/">
                    <input id="login" type="submit" class="btn btn-default" value="Log In" />
                </form></li>
                <li><form class="navbar-form" action="/logout/">
                    <input id="logout" type="submit" class="btn btn-default" value="Log Out" />
                </form></li>
              </ul>
            </div>
          </div>
        </nav>
		{% block content %}
		{% endblock content %}
	</body>
</html>
